.messages-page {
  position: relative;
  height: 100vh;
  top: 0;
}

.chat-sidebar {
  display: none;
}

.chat-list {
  min-height: 100vh;
  width: 300px;
  background-color: black;
  border-right: 1px solid var(--border-color-1);
  display: flex;
  flex-direction: column;
}

.chat-card {
  padding: 0.5rem;
}

.messages-container {
  position: relative;
  height: calc(100vh - 4rem);
}

.messages-container .user-profile-card {
  border-bottom: 1px solid var(--border-color-1);
}

.messages {
  height: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 11rem);
  gap: 1.5rem;
  width: 100%;
  overflow-y: auto;
  padding: 1rem 0.5rem;
}

.message > span {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgb(133, 11, 204);
  color: white;
}

.sent-message {
  text-align: right;
  align-self: flex-end;
}

.received-message {
  text-align: left;
  align-self: flex-start;
}

.message-post {
  width: 200px;
  /* overflow: hidden; */
  border: 1px solid var(--border-color-1);
  border-radius: 1rem;
  text-align: left;
}

.message-post-link > p {
  width: 200px;
  padding: 1rem;
}

.message-post-link > img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-bottom: 1px solid var(--border-color-1);
}

.message-input-form {
  height: 3rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
}

.message-input-form div:first-child {
  width: 100%;
}

.message-input-form div:last-child button {
  padding: 1.2rem;
}

.message-input-form input {
  width: 100%;
  border: 1px solid var(--border-color-1);
  padding: 0.5rem;
  color: white;
  background-color: transparent;
}

.message-input-form > button {
  background-color: white;
  color: black;
  padding: 0.5rem;
}

@media screen and (min-width: 500px) {
  .messages-container {
    width: 100%;
    height: calc(100vh);
  }
  .messages {
    height: calc(100vh - 7rem);
  }
}
@media screen and (min-width: 768px) {
  .chat-sidebar {
    display: block;
    width: 300px;
  }
  .messages-page {
    width: 100%;
    display: flex;
  }
}
