.user-profile-card {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.user-chat-card {
}

.user-profile-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-profile-card > img {
  border: 1px solid grey;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.user-profile-card > p {
  font-weight: 500;
  font-size: 1.2rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
