.outlet {
  width: 100%;
  min-height: 100vh;
}

.menu {
  background-color: rgba(0, 0, 0);
  z-index: 10;
  position: fixed;
  left: 0;
  color: white;
}

.small-screen-menu svg,
.mid-screen-menu svg {
  font-size: 1.25rem;
}

.small-screen-menu {
  width: 100vw;
  border-top: 1px solid var(--border-color-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  right: 0;
  height: 4rem;
}

.small-screen-menu > li {
  text-align: center;
  display: grid !important;
  place-content: center !important;
}

.large-screen-menu,
.mid-screen-menu {
  display: none;
}

.more-items {
  position: fixed;
  left: 250px;
  top: 0;
  z-index: 9;
  width: 300px;
  background-color: black;
  height: 100vh;
  color: white;
}
@media screen and (min-width: 500px) {
  .large-screen-menu,
  .small-screen-menu {
    display: none;
  }

  .mid-screen-menu {
    height: 100vh;
    overflow-y: hidden;
    width: 5rem;
    padding: 0.5rem;
    border-right: 1px solid var(--border-color-1) !important;
    display: flex;
    gap: 0.5rem;
    position: fixed;
    flex-direction: column;
    align-items: center;
  }

  .mid-screen-menu > li {
    text-align: center;
    display: grid !important;
    place-content: center !important;
  }
  .outlet {
    position: relative;
    left: 5rem;
    width: calc(100vw - 5rem);
  }
}

@media screen and (min-width: 1024px) {
  .mid-screen-menu,
  .small-screen-menu {
    display: none;
  }
  .large-screen-menu {
    width: 250px;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem 0;
    border-right: 1px solid var(--border-color-1) !important;
  }
  .outlet {
    position: relative;
    left: 250px;
    right: 0;
    width: calc(100vw - 250px);
  }
}
