.menu {
  width: 100%;
  max-width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.25rem;
  z-index: 10;
  padding: 1rem 0;
  background-color: black;
  border-right: 1px solid var(--border-color-1) !important;
}

.outlet {
  width: 100%;
  min-height: 100vh;
  max-width: 500px;
  margin: auto;
}

@media screen and (min-width: 500px) {
  .layout {
    display: flex;
    flex-direction: row;
  }
  .menu {
    position: unset;
  }
}
