.posts {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.post-card {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color-1);
  overflow: hidden;
}

.post {
  position: relative;
}

.post > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.like-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: white;
}
.post > p {
  padding: 0 0.5rem;
}
