.profile {
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.profile-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.profile-header img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--theme-color);
  padding: 0.25rem;
}

.profile-message-button {
  border: 1px solid var(--theme-color);
}

.signin-page {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.signin-form,
.signin-toggle {
  margin: auto;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--border-color-1);
  padding: 1.5rem 2.5rem;
}
.ant-form-item {
  margin-bottom: 0.5rem;
}
.signin-form > h1 {
  margin: auto;
  padding: 1rem;
}
.signin-form input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.25rem;
  border: 1px solid var(--border-color-1);
  padding: 0.5rem;
  color: var(--theme-color);
}

.signin-form input::placeholder {
  color: var(--border-color-2);
}

.signin-form input:focus,
.signin-form input:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid var(--border-color-1);
}

.signin-form button {
  margin: 0.5rem auto 0;
  width: 100%;
  padding: 1.2rem;
  background-color: var(--button-bg-color);
  font-weight: 600;
}

.ant-input-status-error,
.ant-input-outlined {
  background-color: transparent;
}

.ant-input-status-error {
  background: #ffffff;
}

.ant-input-status-error:hover,
.ant-input-status-error:focus {
  /* background: #ffffff; */
}

.ant-input-status-error {
  background-color: transparent !important;
}
