.profile {
}

.profile-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.profile-header img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--theme-color);
  padding: 0.25rem;
}

.profile-message-button {
  border: 1px solid var(--theme-color);
}
